run = "python bot.py"
hidden = [".config", "package.json", "package-lock.json"]
ignorePaths = [".config/*"]

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/{*.py,*.pyw}"

[languages.python3.languageServer]
start = "python3 -m pylsp" 